<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cqu.shixun.tingwoshuo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/zhihu_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RechargeActivity" />
        <activity android:name=".ui.activity.BecomeExpertActivity" />
        <activity android:name=".ui.activity.MySettingActivity" />
        <activity android:name=".ui.activity.ChangePhoneActivity" />
        <activity android:name=".ui.activity.ChangePswActivity" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.FindPswActivity" />
        <activity android:name=".ui.activity.ExpertInformationActivity" />
        <activity android:name=".ui.activity.WriteQuestionActivity" />
        <activity android:name=".ui.activity.AnswerActivity"></activity>
    </application>

</manifest>